
$black: #151515;
$red: #FF2869;
$brown: #29281B;
$orange: #FDCD00; 
$green: #00CFAC;
$dark-blue: #082044;

$mw: 1920px; // max-width
$cw: 1320px; // content max-width

$su: 20px; // spacing-unit
$bp-s: 768px; // breakpoint S
$bp-m: 980px; // breakpoint M
$bp-l: 1480px; // breakpoint L

@font-face {
    font-family: 'volte';
    src: url('../assets/fonts/volte-webfont.woff2') format('woff2'),
         url('../assets/fonts/volte-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

@font-face {
    font-family: 'volte';
    src: url('../assets/fonts/volte_medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/volte_medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

@font-face {
    font-family: 'hwtartz';
    src: url('../assets/fonts/hwtartz-webfont.woff2') format('woff2'),
         url('../assets/fonts/hwtartz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}


@import 
'partials/_reset',
'partials/_mixins',
'partials/_layout',
'partials/_typo',
'partials/_header',
'partials/_nav',
'partials/_footer',
'partials/_home',
'partials/_modules',
'partials/_pages';