.contact {

    h2 {
        margin-bottom:$su*2;
    }
}

.contact__infos {
    
    p {
        margin:0 0 $su/4;
    }

    address {
        font-style: normal;
        display:inline;
    }

    iframe {
        margin-top:$su;
        border-radius:10px;
        width:100%;
    }
}