.contact {

    h2 {
        margin-bottom:$su*2;
    }
}

.contact__infos {
    
    p {
        margin:0 0 $su/4;
    }

    address {
        font-style: normal;
        display:inline;
    }

    iframe {
        margin-top:$su;
        border-radius:10px;
        width:100%;
    }
}

.form__subcontent {
    display:none;

    &.visible {
        display:block;
        margin-left:1em;
    }

    h3 {
        margin-bottom:$su;
    }

    label, input {
        font-size: 0.9rem;
        line-height: 1.25;
    }

    input {
        @include ff-r;
    }

    span {
        display:block;
        margin-bottom:$su/2;
        color:$black;
    }

    small {
        @include ff-r;
        text-transform: initial;
        font-size: 0.85em;
    }
}

#form__submit {
    display:none;

    &.visible {
        display:block;
    }
}