.fonctionnement-home {
    
    .problemes-list__content {
        margin-top:$su*4;
    }

    .probleme {
        max-width: 38em;
    }

    #no-answer {
        margin-bottom:$su*4;
    }
}

.fonctionnement-single {

    .main-content {
        padding-top:$su*3;
    }
    
    .flex-2-cols {
        margin-bottom:$su*4;
    }

    svg a {
        font-weight: normal;
    }

    .back-to-news {
        margin-top:$su*4;
    }
}

.fonctionnement-list {
    padding:0;
    margin:0;

    li {
        display:inline-block;

        &:after {
            content:', ';
            margin-left:0.1em;
        }

        &:last-child {

            &:after {
                content:'';
            }
        }
    }
}

#organigramme-img {

    .cls-4 {
        fill: white;

        &:hover {
            fill: $red;
        }
    }
    
    a {
        text-decoration : none;
        font-weight: normal;
    }
    
    .organigramme__text {
        font-size: 21.3px;
        fill: #4f4f4f;
        @include ff-t;
        text-decoration: none;
        color: white;
    }
    
    .circle {
        fill: url(#linear-gradient-2);
        opacity: 0.1;
        transition: fill 200ms ease-out;
        
        &:hover, &:focus {
            opacity:1;
            cursor:pointer;

            & ~ text {
                fill: white;
            }
        }
    }

    .txt-link {

        &:hover, &:focus {
            cursor: pointer;
            fill: white;
        }
    }

    a.white-text {
        position:relative;
        display:block;

        &:hover, &:focus {
            cursor: pointer;

            .circle {
                fill:$red;
                opacity:1;
            }

            .txt-link {
                fill:white;
                text-shadow:0 0 3px #000;
            }
        }
    }

    .fonctionnement-home & {

        #fonctionnement-link {
            
            .txt-link {
                fill:white;
                text-shadow:0 0 3px #000;
            }
        }
    }

    .membres & {

        #membres-link {
            
            .txt-link {
                fill:white;
                text-shadow:0 0 3px #000;
            }
        }
    }

    .staff & {

        #staff-circle {
            fill: $red;
            opacity:1;
        }
        #staff-text {
            fill:white;
            text-shadow: 0 0 3px #000;
        }
    }

    .regionales &,
    #regionales-link:hover,
    #regionales-link:focus {

        #regionales-circle {
            fill: $red;
            opacity:1;
        }
        
        #regionales-text {
            fill:white;
            text-shadow:0 0 3px #000;
        }
        
        & ~ #locales-link #locales-circles .circle {
            fill:white;
            opacity:1;
        }
    }

    .regionales & {
        
        #locales-link #locales-circles .circle {
            fill:white;
            opacity:1;
        }
    }

    .regionales & #locales-link:hover,
    .regionales & #locales-link:focus {

        #locales-circles {
            fill:$red;
            stroke:white;
            stroke-width:2;

        }
        
    }

    #locales-link #locales-circles .circle {
        fill:white;
        opacity:1;
    }

    .locales &,
    #locales-link:hover,
    #locales-link:focus {
        cursor:pointer;

        #locales-circles {
            opacity:1;
            fill:$red;

            .circle {
                fill: $red;
                opacity:1;
            }
        }
        #locales-text {
            fill:white;
            text-shadow:0 0 3px #000;
        }
    }

    .locales & {

        #locales-link #locales-circles .circle {
            fill:$red;
            opacity:1;
        }
        
        #regionales-link:hover,
        #regionales-link:focus {
            
            #regionales-circle {
                fill:$red;
                opacity:1;    
            }

            ~ #locales-link #locales-circles .circle {
                fill:white;
                opacity:1;
            }
        }
    }

    .ag & {

        #ag-circle {
            fill: $red;
            opacity:1;
        }
        #ag-text {
            fill:white;
        }

        #ca-circle {
            fill: white;
            opacity: 1;
        }

        #ca-link {

            #ca-circle {
                fill: url(#linear-gradient-3);
                opacity: 1;
            }

            &:hover, &:focus {
                
                #ca-circle {
                    fill: $red;
                    opacity: 1;
                    stroke:white;
                    stroke-width:2;
                }
            }
        }

        #ag-link:hover,
        #ag-link:focus {

            & ~ #ca-link #ca-circle {
                fill: url(#linear-gradient-3);
                opacity: 1;
            }
            & ~ #ca-link #ca-text {
                fill:#4f4f4f;
            }
        }
    }

    #ag-link:hover,
    #ag-link:focus {

        & ~ #ca-link #ca-circle {
            fill: url(#linear-gradient-3);
            opacity: 1;
        }
        & ~ #ca-link #ca-text {
            fill:#4f4f4f;
        }
    }

    .ca & {

        #ca-circle {
            fill: $red;
            opacity:1;
        }
        #ca-text {
            fill:white;
            text-shadow:0 0 3px #000;
        }
        #ag-link:hover ~ #ca-link #ca-circle {
            fill: url(#linear-gradient-3);
            opacity: 1;
        }
        #ag-link:hover ~ #ca-link #ca-text {
            fill:#4f4f4f;
            text-shadow: none;
        }
    }
}