.positions__list {
    margin:$su*2 0 0 0;
    padding:0;
    list-style:none;
}

a.positions__link {
    position: relative;
    display:flex;
    align-items:center;
    margin-bottom:$su*1.5;
    text-decoration: none;
    padding: 0.5em 0.5em 0.5em 0.75em;
    background:white;
    font-size: 1.1rem;
    color:$black;
    line-height: 1.25;
    border-radius: 0.3em;
    box-shadow: 0 0 30px -8px rgba(0,0,0,.15);
    transition:box-shadow 200ms ease-out;
    border-radius:0.8em;

    &:hover, &:focus {
        box-shadow: 0 0 40px -8px rgba(0,0,0,.1);

        &:before {
            color:$orange;
        }

        &:after {
            transform:translateX(3px);
        }
    }

    &:active {
        box-shadow: 0 0 30px -8px rgba(0,0,0,.15);

        &:before {
            color:$red;
        }

        &:after {
            transform:translateX(0px);
        }
    }

    &:before {
        content: '•';
        display:flex;
        align-items:center;
        height: auto;
        padding-top:0.08em;
        line-height:0.8;
        font-size: 3rem;
        margin-right:$su/2;
        @include ff-t;
        color:$red;
        transition:color 150ms ease-out;
    }

    &:after {
        content: '';
        background-image: url("../assets/img/right-arrow.svg");
        background-repeat: no-repeat;
        display:flex;
        align-items: center;
        justify-content: center;
        flex:0 1 25px;
        margin-left:auto;
        width:25px;
        height:25px;
        padding:0 0.5em 0 0;
        transform:translateX(0px);
        transition:transform 200ms ease-out;
    }

    span {
        padding-right:0.75em;
    }
}

.positions__all-container {
    margin-top:$su*4;
}

.positions__list__all {
    display:none;
}

.positions__list__button,
.positions__list__button label  {

    &:hover, &:focus {
        cursor: pointer;
    }
}

.positions__list__button {
    padding:0;

    label {
        display: inline-block;
        padding: .4em 2.6em;
    }
}

.positions__list__checkbox:checked ~ .positions__list__all {
    display:block;
}

.positions__list__checkbox:checked ~ .positions__list__button {
    display:none;
}