.problemes-list {
    
    @media screen and (min-width:$bp-m) {
        display:flex;
        align-items:flex-start;
    }
}

.problemes-list__nav {
    padding:1em;
    box-shadow:0 3px 20px #D9D9D9;
    border-radius:0.5em;
    margin:$su auto $su*4;
    max-width: max-content;
    display:inline-block;

    @media screen and (min-width:$bp-m) {
        margin:0 $su*4 0 0;
    }

    ul {
        list-style: none;
        margin:0;
        padding:0;
    }

    li {
        padding-left:0;
        padding-right:0;
    }

    li:not(:first-child) {
        padding-top:0.5em;
    }
    
    li:not(:last-child) {
        border-bottom:1px solid #EDEDED;
        padding-bottom: 0.5em;
    }

    a {
        display:block;
        position: relative;
        font-size: 1.1rem;
        color:$black;
        padding-left:1.25em;
        padding-right:1.25em;

        &:before {
            content:'';
            display:block;
            position: absolute;
            top:0.4em;
            left:0;
            width:17px;
            height:17px;
            border-radius:50%;
            background-color: $red;
        } 

        &:hover, &:focus {
            font-weight: bold;
            text-decoration: none;

            &:before {
                background-color:$orange;
            }
        }

        &:active {
            font-weight: normal;

            &:before {
                background-color:$red;
            }
        }
    }
}

.problemes-list__content {
    width:100%;

    ul {
        margin-left:0;
        padding-left:$su/2;
    }
}

.probleme {
    scroll-margin-top: $su*2;

    h2 {
        color:$black;
        margin-top:$su*2;
    }

    &.first h2 {
        margin-top:0;
    }

    li:nth-child(2n+1) {

        h3 {
            background:$light-color;
        }
    }

    summary {
        display: flex;
        align-items: center;

        &::-webkit-details-marker {
            display: none
        }

        &:before {
            content: '>';
        }

        &:hover, &:focus {
            cursor: pointer;
            
            h3 {
                font-weight: bold;
            }
        }

        h3 {
            padding:0.25em 0.5em;
            text-transform: none;
            color:$black;
            @include ff-r;
            font-size: 1rem;
            transition:color 150ms ease-out;
        }
    }

    details[open] {

        h3 {
            font-weight: bold;
        }
    }
}

.probleme__content {
    padding-left:0.5em;
}