.search-wrapper {
    margin:$su*3 0;
}

#search-input {
    padding:0.5em 1em;
    border-radius:1em;
    border:1px solid #D8D8D8;

    &:focus {
        outline:0;
        border-color:$orange;
    }
}

#clear-search {
    font-size: 0.8rem;
    margin-left:$su/4;
    box-shadow: none;
}

#results-wrapper {
    width: 100%;
    max-width: 946px;
}

.problemes-list {
    
    @media screen and (min-width:$bp-m) {
        display:flex;
        align-items:flex-start;
    }
}

.problemes-list__nav {
    padding:1em;
    box-shadow:0 3px 20px #D9D9D9;
    border-radius:0.5em;
    margin:$su auto $su*4;
    display:inline-block;
    width:214px;

    @media screen and (min-width:$bp-m) {
        margin:0 $su*4 0 0;

        .sticky-nav &  {
            position: fixed;
            top:20px;
            z-index:5;
            background: white;
        }
    }

    ul {
        list-style: none;
        margin:0;
        padding:0;
    }

    li {
        padding-left:0;
        padding-right:0;
    }

    li:not(:first-child) {
        padding-top:0.5em;
    }
    
    li:not(:last-child) {
        border-bottom:1px solid #EDEDED;
        padding-bottom: 0.5em;
    }

    a {
        display:block;
        position: relative;
        font-size: 1.1rem;
        color:$black;
        padding-left:1.25em;
        padding-right:1.25em;

        &:before {
            content:'';
            display:block;
            position: absolute;
            top:0.4em;
            left:0;
            width:17px;
            height:17px;
            border-radius:50%;
            background-color: $red;
        } 

        &:hover, &:focus {
            font-weight: bold;
            text-decoration: none;

            &:before {
                background-color:$orange;
            }
        }

        &:active {
            font-weight: normal;

            &:before {
                background-color:$red;
            }
        }
    }
}

.problemes-list__content {
    width:100%;

    @media screen and (min-width:$bp-m) {
        
        .sticky-nav & {
            margin-left:275px;
        }
    }

    @media screen and (min-width:$bp-l) {
        
        .sticky-nav & {
            margin-left:295px;
        }
    }

    ul {
        margin-left:0;
        padding-left:$su/2;
    }
}

.probleme {
    scroll-margin-top: $su*2;

    h2 {
        color:$black;
        margin-top:$su*2;
    }

    &.first h2 {
        margin-top:0;
    }

    li:nth-child(2n+1) {

        h3 {
            background:$light-color;
        }
    }

    summary {
        display: flex;
        align-items: center;
        outline:none;

        &::-webkit-details-marker {
            display: none;
        }

        &:before {
            content: '>';
            position: absolute;
        }

        &:hover, &:focus {
            cursor: pointer;
            
            h3 {
                font-weight: bold;
            }
        }

        h3 {
            display: block;
            width: 100%;
            padding:0.25em 0.5em 0.25em 1em;
            text-transform: none;
            color:$black;
            @include ff-r;
            font-size: 1rem;
            user-select: none;
            transition:color 150ms ease-out;
        }
    }

    details {

        h2 {
            font-size:1.2rem;
        }

        h3 {
            font-size: 1rem;
            background:none !important;
        }

        img {
            width:100%;
            height:auto;
        }

        ul, ol {
            margin-left:1em;
            padding-left:1em;
        }
    }

    details[open] {

        summary {

            &:before {
                content:'∨';
                font-size: 0.8rem;
            }
        }

        h3 {
            font-weight: bold;
        }
    }
}

.probleme__content {
    padding-left:0.5em;
}