<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="language" content="{{ .Site.LanguageCode }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="preload" href="/assets/fonts/volte-webfont.woff2" as="font" type="font/woff2">
    <link rel="preload" href="/assets/fonts/hwtartz-webfont.woff2" as="font" type="font/woff2">
    <title>
      {{- if .IsHome -}}
        CEF | Bienvenue
      {{- else -}}
        CEF{{ with .Params.tags }} | {{ range . }}{{ . }}{{ end }}{{ end }}{{ with .Params.Title }} | {{ . }}{{ end }}
      {{- end -}}
    </title>
    <meta name="author" content='{{ .Site.Params.Author }}' />
    <meta name="description" content="{{- with .Content -}}{{- . | truncate 158 -}}{{- else -}}{{- .Site.Data.infos.description -}}{{- end -}}" />
    <meta property="og:type" content="website" />
  	<meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Site.Title }}{{ with .Params.categories }} | {{ . }}{{ end }}{{ with .Params.Title }} | {{ . }}{{ end }}" />
    <meta property="og:description" content='{{ with .Content }}{{ . | truncate 158 }}{{ else }}{{ .Site.Data.infos.description }}{{ end }}' />
    <!-- <meta property="og:image" content="{{ .Site.BaseURL }}assets/upload" /> -->
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <style>.page-header__img {background-image:url('/assets/img/header-rounded.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('/assets/img/{{ if .Params.hero_img }}{{ .Params.hero_img }}{{ else }}scolarcite.jpg{{ end }}')} .single-actus-podcasts .page-header__img {background-image:url('/assets/img/single-mask.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('/assets/img/{{ .Params.hero_img }}')}</style>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">
    {{ partialCached "site-favicon.html" . }}
  </head>
	<body id="root" class="{{ with .IsHome }}home{{ end }}{{ with .Params.cta_footer }} cta-footer{{end}}{{ if or (.Params.header_simple) (eq .Section "tags" ) (eq .Section "categories" ) }} header-simple{{end}}{{ if and (eq .Section "actualites-podcasts") (eq .Kind "page" ) }} single-actus-podcasts{{ end }}{{ if and (eq .Section "actualites-podcasts") (eq .Kind "section" ) }} list-actus-podcasts{{ end }}{{ with .Params.class }} {{ . }}{{ end }}">
    <a class="hide skip-to-content" href="#site-main">Aller directement vers le contenu</a>
    <div class="site-wrapper">
      {{ partialCached "site-header.html" .}}
      <main id="site-main" class="site-main cw{{ with .Page.Params.class }} {{ . }}{{ end }}">{{ block "main" . }}{{ end }}</main>
      {{ partial "site-footer.html" . }}
    </div>
    {{ partial "site-scripts.html" . }}
  </body>
</html>
