<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="language" content="{{ .Site.LanguageCode }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/assets/fonts/volte-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/hwtartz-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <title>
      {{- if .IsHome -}}
        CEF | Comité des élèves francophones
      {{- else -}}
        {{ with .Params.Title }}{{ . }} | {{ end }}{{ with .Params.categories }}{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ . | plainify | humanize }}{{ end}} | {{ end }}{{ with .Params.tags }}{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ . | plainify | humanize }}{{ end }} | {{ end }} CEF
      {{- end -}}
    </title>
    <meta name="description" content="{{- if .Params.description -}}{{- .Params.description | truncate 158 -}}{{- else -}}{{- .Site.Data.infos.description -}}{{- end -}}" />
    <meta property="og:type" content="website" />
  	<meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ with .Params.Title }}{{ . }} | {{ end }}{{ with .Params.categories }}{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ . | plainify | humanize }}{{ end}} | {{ end }}{{ with .Params.tags }}{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ . | plainify | humanize }}{{ end }} | {{ end }} CEF" />
    <meta property="og:description" content='{{ with .Content }}{{ . | truncate 158 }}{{ else }}{{ .Site.Data.infos.description }}{{ end }}' />
    <meta property="og:image" content="{{ .Site.BaseURL }}assets/img/opengraphcef.jpg" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <style>
      .page-header__img {background-image:url('/assets/img/header-rounded.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('{{ $.Site.Params.cloudinary_url }}c_scale,dpr_auto,q_70,w_768,f_auto/{{ if .Params.hero_img }}{{ .Params.hero_img }}{{ else }}scolarcite_ummzht.jpg{{ end }}')} .single-actus-podcasts .page-header__img {background-image:url('/assets/img/single-mask.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('{{ $.Site.Params.cloudinary_url }}c_scale,dpr_auto,q_70,w_768,f_auto/{{ .Params.hero_img }}')}
      @media screen and (min-width:768px) {
        .page-header__img {background-image:url('/assets/img/header-rounded.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('{{ $.Site.Params.cloudinary_url }}c_scale,dpr_auto,q_70,w_1200,f_auto/{{ if .Params.hero_img }}{{ .Params.hero_img }}{{ else }}scolarcite_ummzht.jpg{{ end }}')} .single-actus-podcasts .page-header__img {background-image:url('/assets/img/single-mask.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('{{ $.Site.Params.cloudinary_url }}c_scale,dpr_auto,q_70,w_1200,f_auto/{{ .Params.hero_img }}')}
      }
      @media screen and (min-width:1280px) {
        .single-actus-podcasts .page-header__img {background-image:url('/assets/img/single-mask.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('{{ $.Site.Params.cloudinary_url }}c_scale,dpr_auto,q_70,w_1600,f_auto/{{ .Params.hero_img }}')}
      }
    </style>

    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">
    {{ partialCached "site-favicon.html" . }}
	  	  {{ if eq .Section "fonctionnement" }}
			  <style>
			  html {
		  scroll-behavior: auto;
				}
			  </style>
			  {{ end }}
  </head>
	<body id="root" class="{{ with .IsHome }}home{{ end }}{{ if .Params.cta_footer.show }} cta-footer{{end}}{{ if or (.Params.header_simple) (eq .Section "tags" ) (eq .Section "categories" ) }} header-simple{{end}}{{ if and ( or (eq .Section "actualites-podcasts") (eq .Section "positions") ) (eq .Kind "page" ) }} single-actus-podcasts{{ end }}{{ if and (eq .Section "actualites-podcasts") (eq .Kind "section" ) }} list-actus-podcasts{{ end }}{{ with .Params.class }} {{ . }}{{ end }}">
    <a class="hide skip-to-content" href="#site-main">Aller directement vers le contenu</a>
    <div class="site-wrapper">
      {{ partialCached "site-header.html" .}}
      <main id="site-main" class="site-main cw{{ with .Page.Params.class }} {{ . }}{{ end }}">{{ block "main" . }}{{ end }}</main>
      {{ partial "site-footer.html" . }}
    </div>
    {{ partial "site-scripts.html" . }}
    <!-- transform units equals 1/345.73 and 1/244.08 -->
    <svg width="0" height="0" viewBox="0 0 345.73 244.08" class="hide" aria-hidden="true" focusable="false"><defs><clipPath id="mask" clipPathUnits="objectBoundingBox" transform="scale(0.002892430509 0.004097017371354)"><path style="fill:none;" d="M316.17,23.69L29.56,0C13.24,0,0,10.6,0,23.69V220.4c0,13.08,13.24,23.68,29.56,23.68l286.6-23.68c16.33,0,29.56-10.6,29.56-23.68V47.37C345.73,34.29,332.5,23.69,316.17,23.69z" /></clipPath></defs></svg>
    <svg width="0" height="0" viewBox="0 0 517.5 406" class="hide" aria-hidden="true" focusable="false"><defs><clipPath id="mask-02" clipPathUnits="objectBoundingBox" transform="scale(0.001932367149758 0.002463054187192)"><path d="M44.2 39.4L473.2 0c24.4 0 44.2 17.6 44.2 39.4v327.2c0 21.8-19.8 39.4-44.2 39.4l-429-39.4C19.8 366.6 0 348.9 0 327.2V78.8C0 57 19.8 39.4 44.2 39.4z" fill="none"/></clipPath></defs></svg>
  </body>
</html>
