{{ define "main" }}

    {{ partial "page-header.html" . }}
        
    <div class="main-content">
        {{ with .Content }}
            {{ . }}
        {{ end }}
        
        <section class="list-content">
            <ul>
                {{ range .Pages }}
                    <li>
                        <h2><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h2>
                        <p>{{ .Content | truncate 120 }}</p>
                        <ul class="list-tags">
                            {{ range .Params.tags }}
                                <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                {{ end }}
            </ul>
        </section>
    </div>

{{ end }}