<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 684.5 684.5" style="width:100%" id="organigramme-img" alt="" role="presentation">
    <defs>
        <linearGradient id="linear-gradient" y1="342.3" x2="684.5" y2="342.3" gradientUnits="userSpaceOnUse">
			<stop offset="0" stop-color="#fff" />
			<stop offset="1" />
        </linearGradient>
        <linearGradient id="linear-gradient-2" x1="134" y1="360.2" x2="613.9" y2="360.2" xlink:href="#linear-gradient" />
		<linearGradient id="linear-gradient-3" x1="134" y1="360.2" x2="613.9" y2="360.2" gradientUnits="userSpaceOnUse">
			<stop offset="0" stop-color="#fff" />
			<stop offset="1" stop-color="#B0B0B0" />
		</linearGradient>
        <linearGradient id="linear-gradient-6" x1="-4161.1" y1="-2563.8" x2="-4032.8" y2="-2563.8" gradientTransform="rotate(180 -1977 -1127)" xlink:href="#linear-gradient" />
    </defs>
	<a href="/fonctionnement#content" class="white-text" id="fonctionnement-link">
		<path class="circle" d="M342 685a342 342 0 110-685 342 342 0 010 685" fill="url(#linear-gradient)" opacity=".1" />
		<text class="organigramme__text txt-link" transform="translate(341 72)">Le Cef</text>
	</a>
	<a href="/fonctionnement/membres#content" class="white-text" id="membres-link">
		<circle class="circle" id="membres-circle" cx="373.9" cy="360.2" r="239.9" opacity=".1" fill="url(#linear-gradient-2)" />
		<text class="organigramme__text txt-link" id="membres-text" transform="translate(342 184)">Membres</text>
	</a>
	<a href="/fonctionnement/staff-du-cef/#content" class="white-text" id="staff-link">			
		<circle class="circle" id="staff-circle" cx="169.6" cy="135.8" r="48.4" />
		<text class="organigramme__text txt-link" id="staff-text" transform="translate(147 144)">Staff</text>
	</a>	
	<a href="/fonctionnement/regionales/#content" class="white-text" id="regionales-link">	
		<circle class="circle" id="regionales-circle" cx="274.1" cy="316.9" r="82.2" />
		<text class="organigramme__text txt-link" id="regionales-text" transform="translate(222 437)">Régionales</text>
	</a>
	<a href="/fonctionnement/locales/#content" id="locales-link">	
		<g id="locales-circles">
			<circle class="cls-4 circle" cx="230.3" cy="309.5" r="12.3" />
			<circle class="cls-4 circle" cx="248.1" cy="355.7" r="12.8" />
			<circle class="cls-4 circle" cx="296.6" cy="357.4" r="12.8" />
			<circle class="cls-4 circle" cx="274.1" cy="318.6" r="12.8" />
			<circle class="cls-4 circle" cx="314.6" cy="302.9" r="12.3" />
			<circle class="cls-4 circle" cx="269.4" cy="275.7" r="12.3" />
		</g>
		<text class="organigramme__text txt-link" id="locales-text" transform="translate(11 316)">Locales</text>
	</a>	
	<a href="/fonctionnement/assemblee-generale/#content" class="white-text" id="ag-link">			
		<circle class="circle" id="ag-circle" cx="463.1" cy="415.9" r="82.2" />
		<text class="organigramme__text txt-link" id="ag-text" transform="translate(430 374)">AG</text>
	</a>
	<a href="/fonctionnement/conseil-d-administration/#content" class="white-text" id="ca-link">
		<circle class="circle" id="ca-circle" cx="470.4" cy="424.9" r="44.4"  class="circle" opacity=".1" />
		<text class="organigramme__text txt-link" id="ca-text" transform="translate(461 429)">CA</text>
	</a>
	<path fill="none" stroke-miterlimit="10" stroke-width=".3" stroke="url(#linear-gradient-6)" d="M79 310h128" />
</svg>