<header class="page-header page-header--actus">
    {{ range first 1 (where (where $.Site.RegularPages.ByDate.Reverse "Section" "actualites-podcasts") ".Params.featured" "=" true ) }}
        {{ $firstNewsImg := .Params.hero_img }}
        <div class="page-header__title-container">
            <time datetime="{{ .Date.Format "02-01-06"}}">{{ .Date.Format "02.01.06"}}</time>
            <h3 class="page-header__title">{{ .Title }}</h3>
            <p>{{ plainify .Content | truncate 120 }}</p>
            <a class="btn btn--link btn--rounded" href="{{ .Permalink }}">Lire plus</a>
        </div>
        <style>    
            .page-header__img {background-image:url('/assets/img/header-rounded.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('{{ $.Site.Params.cloudinary_url }}c_scale,dpr_auto,q_70,w_768,f_auto/{{ $firstNewsImg }}')} .single-actus-podcasts .page-header__img {background-image:url('/assets/img/single-mask.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('{{ $.Site.Params.cloudinary_url }}c_scale,dpr_auto,q_70,w_768,f_auto/{{ $firstNewsImg }}')}
            @media screen and (min-width:768px) {
                .page-header__img {background-image:url('/assets/img/header-rounded.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('{{ $.Site.Params.cloudinary_url }}c_scale,dpr_auto,q_70,w_1200,f_auto/{{ $firstNewsImg }}')} .single-actus-podcasts .page-header__img {background-image:url('/assets/img/single-mask.svg'), linear-gradient(180deg, rgba(255, 40, 105, 0.21), transparent), url('{{ $.Site.Params.cloudinary_url }}c_scale,dpr_auto,q_70,w_1200,f_auto/{{ $firstNewsImg }}')}
            }
        </style>
        <div class="page-header__img"></div>
    {{ end }}
    
</header>