{{ $nav := resources.Get "js/nav.js" }}
{{ $navPublic := $nav | resources.Minify | resources.Fingerprint }}
<script src="{{ $navPublic.Permalink }}"></script>

{{ if eq .Params.class "tes-droits" }}
    <script src="/assets/js/details-polyfill.js"></script>
    {{ $stickyNav := resources.Get "js/stickyNav.js" }}
    {{ $stickyNavPublic := $stickyNav | resources.Minify | resources.Fingerprint }}
    <script src="{{ $stickyNavPublic.Permalink }}"></script>
{{ end }}

<!-- transform units equals 1/345.73 and 1/244.08 -->
<svg width="0" height="0" viewBox="0 0 345.73 244.08" class="hide"><defs><clipPath id="mask" clipPathUnits="objectBoundingBox" transform="scale(0.002892430509 0.004097017371354)"><path style="fill:none;" d="M316.17,23.69L29.56,0C13.24,0,0,10.6,0,23.69V220.4c0,13.08,13.24,23.68,29.56,23.68l286.6-23.68c16.33,0,29.56-10.6,29.56-23.68V47.37C345.73,34.29,332.5,23.69,316.17,23.69z" /></clipPath></defs></svg>