<header class="site-header">
	<a class="site-logo" href="{{ .Site.BaseURL }}">
		<img src="/assets/img/cef-logo.svg" width="132" height="116" alt="Logo du CEF" title="CEF - Comité des élèves francophones">
	</a>
	<nav class="site-nav">
		<ul>
			{{ range $.Site.Data.main_nav.nav }}
			<li><a href="{{ index . 1 }}">{{ index . 0 | safeHTML }}</a></li>
			{{ end }}
		</ul>
	</nav>
	<!-- <div class="site-header__social">
		<a target="_blank" href="{{ .Site.Data.infos.facebook_link }}">Facebook</a>
		<a target="_blank" href="{{ .Site.Data.infos.instagram_link }}">Instagram</a>
	</div> -->
	<aside class="site-header__pb-a-l-ecole">
		<a href="/problemes-a-l-ecole">Problèmes à l'école ?</a>
	</aside>
</header>

