<header class="site-header">
	<div class="site-header__top">
		<a href="{{ .Site.BaseURL }}">
			LOGO
		</a>
		<h2>{{ $.Site.Data.infos.title }}</h2>
		<div class="site-header__social">
			<a target="_blank" href="{{ .Site.Data.infos.facebook_link }}">Facebook</a>
			<a target="_blank" href="{{ .Site.Data.infos.instagram_link }}">Instagram</a>
		</div>
	</div>
	<nav class="site-nav">
		<ul>
			{{ range $.Site.Data.main_nav.nav }}
				<li><a href="{{ index . 1 }}">{{ index . 0 | safeHTML }}</a></li>
			{{ end }}
		</ul>
	</nav>
	<aside class="site-header__tes-droits">
		<a href="/tes-droits">Tes droits <span>ILLU</span></a>
	</aside>
</header>

