<footer class="site-footer" id="site-footer">
	{{ if .Params.cta.show }}
	<div class="site-footer__cta">
		<img src="/assets/img/cta.svg" alt="" width="1200" height="360">
		<div class="site-footer__cta__content">
			<p>{{ .Params.cta.text }}</p>
			<p><a href="{{ .Params.cta.link }}" class="button">{{ .Params.cta.btn_text }}</a>
		</div>
	</div>
	{{ end }}
	<div class="site-footer__inner">
		<div class="site-footer__left">
			<h2>{{ $.Site.Data.footer.footer_title }}</h2>
			<ul class="site-footer__left__links">
				{{ range $.Site.Data.footer.menu_left_links }}
					<li><a href="{{ index . 1 }}">{{ index . 0 }}</a></li>
				{{ end }}
			</ul>
			<p>{{ $.Site.Data.footer.footer_text | markdownify }}</p>
		</div>
		<nav class="site-footer__nav">
			<ul>
				{{ range $.Site.Data.footer.menu_center_links }}
					<li><a href="{{ index . 1 }}">{{ index . 0 | safeHTML }}</a></li>
				{{ end }}
			</ul>
		</nav>
		<ul class="site-footer__social">
			<li><a target="_blank" href="{{ .Site.Data.infos.facebook_link }}">Facebook</a></li>
			<li><a target="_blank" href="{{ .Site.Data.infos.instagram_link }}">Instagram</a></li>
		</ul>
	</div>
</footer>
<!-- <button id="top-btn" onclick="goToTop()" title="Revenir en haut de page" aria-label="Haut de page">⌃</button> -->
