{{ define "main" }}

    {{ partial "page-header-single.html" . }}

    <aside class="list-taxonomies">
        <ul>
            <li>
                <a class="btn btn--link btn--reverse" href="/categories/{{ .Params.categories | urlize }}" data-tax="categories">{{ .Params.categories }}</a>
            </li>
            {{ range .Params.tags }}
                <li>
                    <a class="btn btn--link btn--reverse" href="/tags/{{ . | urlize }}" data-tax="tags">{{ . }}</a>
                </li>
            {{ end }}
        </ul>
    </aside>

    <div class="main-content">
        {{ with .Content }}
            {{ . }}
        {{ end }}
    </div>

    <a href="/actualites-podcasts">< Retour vers Actus & Podcasts</a>
    

{{ end }}