/*
* FOOTER
*/

.site-footer {
    position:relative;
    padding:$su*2;
    background-color:$brown;
    color:white;
    z-index:5;

    ::selection {
        color:$brown;
        background-color: white;
    }
    
    &:after {
        content:'';
        position:absolute;
        display:block;
        width:100%;
        height:10px;
        left:0;
        right:0;
        bottom:0;
        background:linear-gradient(to right,$red 0%,$red 24.999%,$orange 25%,$orange 49.999%,$green 50%,$green 74.999%,$dark-blue 75%,$dark-blue 100%);
        background-size:87px;
    }
}

.site-footer__cta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    left:50%;
    width:90%;
    max-width: 1200px;
    height: auto;
    padding:1em;
    box-sizing: border-box;
    transform: scale(1.3) translateY(-54px) translateX(-38%);

    @media screen and (min-width:480px) {
        transform: translateY(-54px) translateX(-50%);
    }

    @media screen and (min-width:640px) {
        transform: translateY(-54px) translateX(-50%);
    }

    img {
        position:absolute;
    }

}

.site-footer__cta__content {
    position:absolute;
    display: flex;
    align-items: center;
    width: 90%;
    z-index:2;

    > * {
        @include ff-t;
        display:inline-block;
        width:100%;
        margin:0;
        font-size: 0.6rem;
        text-align: center;
        text-align: left;
        line-height:1.2;

        @media screen and (min-width:480px) {
            font-size: 1rem;
        }
        
        @media screen and (min-width:640px) {
            font-size: 1.2rem;
        }

        @media screen and (min-width:$bp-s) {
            font-size: 1.6rem;
        }
        
        @media screen and (min-width:1200px) {
            font-size: 2rem;
        }
    }

    .button {
        display:inline-block;
        padding:0.5em 1em;
        border-radius:1em;
        background:white;
        color:$red;
        transform:scale(1);
        transition:transform 150ms ease-out;
        
        @media screen and (min-width:480px) {
            padding:0.5em 2em;
        }
        
        &:hover, &:focus {
            transform:scale(1.05);
            text-decoration: none;
        }
        
        &:active {
            transform:scale(1);
        }
    }

    p:nth-child(2) {
        text-align:right;
        margin-left:$su;
        width:auto;
        min-width: 6.8em;

        @media screen and (min-width:480px) {
            min-width: 8.8em;
        }

        @media screen and (min-width:$bp-l) {
            margin-left:$su*2;
        }
    }
}

.site-footer__inner {
    width:100%;
    max-width:$cw;
    margin:$su*2 auto;
    
    > * + * {
        margin-top:$su*2;
    }

    @media screen and (min-width:480px) {
        margin:$su*5 auto;
    }

    @media screen and (min-width:$bp-m) {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items:flex-start;
        justify-content: space-between;
        grid-gap:$su*4;
        
        > * + * {
            margin-top:0;
        }
    }

    body.cta-footer & {
    
        @media screen and (min-width:$bp-m) {
            margin:$su*8 auto $su*5;
        }
        
        @media screen and (min-width:1200px) {
            margin:$su*12 auto $su*5;
        }
    }


    ul {
        margin:0;
        padding:0;
    }

    li {
        list-style:none;
    }

    h2, a {
        color:white;
    }
}

.site-footer__left {
    
    p {
        font-size: 0.9rem;
    }

    a {
        font-weight: bold;
    }
}

.site-footer__nav {

    @media screen and (min-width: $bp-m) {
        display:flex;
        flex-direction: column;
        align-items:center;
    }

    a {
        padding:0.15em 0;
        display: block;
    }
}

.site-footer__social {
    margin-top:$su*2;
    
    @media screen and (min-width: $bp-m) {
        margin-top:0;
    }

    h3 {
        color:white;
        margin-bottom:$su;
    }
}
