/*
* HEADER
*/

$logo-width: 132px;

.site-header {
    position:relative;
    padding:$su*2 $su*2 0 $su*2;
    @media screen and (min-width:768px) {
        display: grid;
        grid-template-columns: [start] 1fr [logo] $logo-width [nav] minmax(300px, ($cw - $logo-width)) [content-end] 1fr [end];
    }
}

.site-logo {
    grid-column-start: logo;
}

.site-header__pb-a-l-ecole {
    display:block;
    position:fixed;
    top:20vh;
    left:$su/4;
    background-color:#ddd;
    padding:0.5em;
    border:1px solid black;
    writing-mode:vertical-lr;
    z-index:10;
}