/*
* HEADER
*/

$logo-width: 132px;

.site-header {
    position:relative;
    padding:$su*2 $su*2 0 $su*2;
    display:flex;
    justify-content: space-between;

    @media screen and (min-width:980px) {
        display: grid;
        grid-template-columns: [start] 1fr [logo] $logo-width [nav] minmax(300px, 1620px) [content-end] 1fr [end];
    }
}

.site-logo {
    grid-column-start: logo;
    width:80px;
    transform: scale(1);
    transition:transform 150ms ease-out;

    @media screen and (min-width:560px) {
        width:100px;
    }

    @media screen and (min-width:980px) {
        width:132px;
    }

    &:hover, &:focus {
        transform:scale(1.08);
    }

    &:active {
        transform:scale(1);
    }
}

.site-header__pb-a-l-ecole {
    display:none;
    position:fixed;
    top:40vh;
    right:$su*2;
    background-color:white;
    padding:1.5em 0.75em;
    writing-mode:vertical-lr;
    border-radius: 1em;
    z-index:10;
    box-shadow:0 3px 20px #D9D9D9;
    box-shadow:0 3px 20px rgba(0,0,0,0.15);
    transform:scale(1);
    transition:transform 150ms ease-out, box-shadow 150ms ease-out;

    @media screen and (min-width:980px) {
        display:block;
    }

    &:hover, &:focus {
        text-decoration: none;
        transform:scale(1.05);
        box-shadow:0 10px 40px #D9D9D9;
        box-shadow:0 10px 40px rgba(0,0,0,0.15);
    }
    
    &:active {
        transform:scale(1);
        box-shadow:0 3px 20px #D9D9D9;
        box-shadow:0 3px 20px rgba(0,0,0,0.15);
    }
    a {
        @include ff-t;
        color:$red;
        display:block;
        line-height:1;

        &:hover {
            text-decoration: none;
        }
    }
}