.home {

    .main-content {

        section {
            margin-top:$su*4;

            &:first-of-type {
                margin-top:0;
            }

            @media screen and (min-width:$bp-s) {
                margin-top:$su*8;
            }
        }

        h2 {
            font-size: 1.8rem;
        }
    }
}


.home-hero {
    position:relative;
    margin-bottom:$su*2;

    @media screen and (min-width:$bp-s) {
        display:grid;
        grid-template-columns: [start] 1fr [content-start] 66.666% [content-end] 1fr [end];
        grid-template-rows: 1fr;
        grid-auto-flow: row dense;
        align-items: center;
    }

    img {
        grid-column: start / end;
        grid-row: 1/2;
    }

    h1 {
        grid-column: content-start / content-end;
        grid-row: 1/2;
        font-size:2rem;
        text-transform: uppercase;
        font-weight: bold;
        
        @media screen and (min-width:$bp-s) {
            max-width: 11em;
        }
    }
}

.home-news__list {
    margin:$su*2 0 0;
    padding:0;
    list-style: none;
}

.home-news__list__item {
    
    article {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    a {
        display:block;
        line-height: 1;
        padding-bottom:34px;
        transform:scale(1);
        transition:transform 150ms ease-out;

        &:hover, &:focus {
            transform:scale(1.04);

            picture {

                &:after {
                    background-color:rgba(0,0,0,0.1);
                }
            }
        }

        &:active {
            transform:scale(1);
        }

        &:before {
            content:'';
            position: absolute;
            top:0;
            right:0;
            bottom: 0;
            left:0;
            background-image:url('../assets/img/img-back-shape.svg');
            background-repeat:no-repeat;
            z-index: -1;
        }
    }
    
    img, picture {
        clip-path: url(#mask);
        line-height: 1;
        display:block;
    }

    picture {
        position: relative;
        
        &:after {
            content:'';
            position: absolute;
            top:0;
            right:0;
            bottom: 0;
            left:0;
            background-color:rgba(0,0,0,0.33);
            z-index: 1;
            transition:background-color 150ms ease-out;
        }
    }
}
li.no_overlay>article>a>picture:after{
    background-color: rgba(225,225,225,0);
}
li.no_overlay>article>a:before{
    background-image: none;
}
.margin_top{
    margin-top: 120px;
}
ul.no_pad{
    list-style-type: NONE;
    padding-left: 0px;
}
.home-news__list__item__content {
    position: absolute;
    top:50%;
    right:0;
    bottom:0;
    left:50%;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%, -50%);

    time {
        @include ff-t;
        font-size:1rem;
        color:$red;
    }

    h3 {
        margin:0;
        @include ff-t;
        font-size:1.1rem;
        color:white;
    }
}

.home-cta-follow {
    background-color:#ddd;
    margin:$su*2 auto;
    padding:$su $su*2;

    @media screen and (min-width:$bp-s) {
        display:flex;
    }
}
