
::selection {
	color:white;
	background-color: $red;
}

html {
    scroll-behavior: smooth;
    font-size:18px;

    @media screen and (min-width: $bp-s) {
        font-size:20px;
    }
    
    @media screen and (min-width: $bp-l) {
        font-size:22px;
    }
}

body {
    @include ff-r; 
    font-weight:400;
    line-height:1.5;
    background-color: white;
    color:$black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

}

body * {
    box-sizing: border-box;
}

.site-wrapper {
    width:100%;
    max-width:1920px;
    margin:0 auto;
    position: relative;
    overflow-x:hidden;
    background: url(../assets/img/body-left-shape.svg) no-repeat;
    background-size: 12% auto;
    background-position: left center;

    @media screen and (min-width:1920px) {
        border-right:1px solid $brown;
        border-left:1px solid $brown;
    }
}

a.skip-to-content.hide {

    &:focus {
        left: 50%;
        clip-path: none;
        transform: translate(-50%, 40px);
        background: red;
        border-radius: 0.5em;
        padding: 0.25em 0.75em;
        color: white;
        font-weight: bold;
        text-decoration: none;
        transition: all 150ms ease-out;
    }
}

.site-main {
    margin:420px auto 40px auto;
    padding:$su;

    @media screen and (min-width: 480px) {
        margin:420px auto 80px auto;
        padding:$su*2;
    }

    @media screen and (min-width: $bp-m) {
        margin:580px auto 120px auto;
    }

    @media screen and (min-width: ( $cw + $su*4 ) ) {
        padding-right:0;
        padding-left:0;
    }
    
    body.cta-footer & {
        margin:420px auto 14vw auto;

        @media screen and (min-width: $bp-m) {
            margin:580px auto 16vw auto;
        }
    }

    body.header-simple & {
        margin-top:0;
    }

}

//max width
.mw {
    width:100%;
    max-width:$mw;
    margin-right:auto;
    margin-left:auto;
}

//content width
.cw {
    width:100%;
    max-width:$cw;
    margin-right:auto;
    margin-left:auto;
}

.flex-2-cols {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding:0;
    margin-right:auto;
    margin-left:auto;

    @media screen and (min-width:$bp-s) {
        flex-direction:row;
    }
}

.flex-2-cols__col {
    width:100%;
    margin-top:$su*2;

    &:first-of-type {
        margin-top:0;
    }

    @media screen and (min-width:$bp-s) {
        width:calc(50% - #{$su});
        margin-top:0;
        
        &:first-of-type {
            margin-right:$su*2;
        }
    }

    @media screen and (min-width:$bp-m) {
        width:calc(50% - #{$su * 2});

        &:first-of-type {
            margin-right:$su*4;
        }
    }

    @media screen and (min-width:$bp-l) {
        width:calc(50% - #{$su * 4});

        &:first-of-type {
            margin-right:$su*8;
        }
    }
}

.flex-2-cols__col--center {
    display:flex;
    align-items: center;
    justify-content: center;
}

.flex-3-cols {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:$su*2;

    @media screen and (min-width:$bp-s) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width:$bp-m) {
        grid-template-columns: repeat(3, 1fr);
    }
}