
::selection {
	color:white;
	background-color: $red;
}

html {
    scroll-behavior: smooth;
    font-size:18px;
    
    @media screen and (min-width: 1024px) {
        font-size:20px;
    }
}

body {
    @include ff-r; 
    font-weight:400;
    line-height:1.5;
    background-color: white;
    color:$black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

}

body * {
    box-sizing: border-box;
}

.site-wrapper {
    width:100%;
    max-width:1920px;
    margin:0 auto;
    position: relative;
    overflow-x:hidden;

    @media screen and (min-width:1920px) {
        border-right:1px solid $brown;
        border-left:1px solid $brown;
    }
}

.site-main {
    margin:$su*2.5 auto $su*2.5 auto;
    padding:$su*2;
    
    @media screen and (min-width: 1200px) {
        margin:$su*7 auto $su*8 auto;
    }
    
    @media screen and (min-width: ( $cw + $su*4 ) ) {
        padding:0;
    }
    
    body.cta & {
        margin:$su*2.5 auto $su*4 auto;

        @media screen and (min-width: 768px) {
            margin:$su*7 auto $su*10 auto;
        }

        @media screen and (min-width: 1200px) {
            margin:$su*7 auto $su*14 auto;
        }
    }

}

.main-content {
    margin-top:340px;

    @media screen and (min-width:980px) {
        margin-top:420px;
    }

    @media screen and (min-width:1200px) {
        margin-top:340px;
    }

    @media screen and (min-width:1400px) {
        margin-top:420px;
    }
}

//max width
.mw {
    width:100%;
    max-width:$mw;
    margin-right:auto;
    margin-left:auto;
}

//content width
.cw {
    width:100%;
    max-width:$cw;
    margin-right:auto;
    margin-left:auto;
}

.flex-2-cols {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: $mw;
    padding:0;
    max-width: $cw;
    margin-right:auto;
    margin-left:auto;

    @media screen and (min-width:980px) {
        flex-direction:row;
        justify-content: space-between;
    }
}

.flex-2-cols__col {
    width:100%;

    @media screen and (min-width:980px) {
        width:calc(50% - #{$su});
        
        &:first-of-type {
            margin-right:$su*2;
        }
    }
}