/*
* MIXINS
*/

@mixin ff-r {
    font-family: 'volte','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight:normal;
}

@mixin ff-b {
    font-family: 'volte','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight:bold;
}

@mixin ff-t {
    font-family: 'hwtartz','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight:normal;
}