/*
* MODULES
*/

a {
    text-decoration: none;

    &:hover,&:focus {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height:auto;
}

picture {
    display:block;
}

.list--no-style {
    list-style:none;
}

.hide {
    display:block;
    position: absolute;
    left:-99999px;
    clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
}