.site-nav {
    @include ff-t;
    position: relative;
    margin:0;
    display:flex;
    align-items: center;
    order: 1;
    width: 48px;
    
    @media screen and (min-width:$bp-l) {
        grid-column-start: nav;
        margin-top:0;
        margin-left:auto;
        width:auto;
    }
}

.site-nav__list {
    display:none;
    margin:0;
    padding:0;
    opacity:0;
    z-index: 15;
    transform:scale(0);
    transform-origin: right top;

    @media screen and (min-width:$bp-l) {
        display:flex;
        align-items:center;
        justify-content: flex-end;
        opacity:1;
        transform:none;
    }

    li {
        list-style: none;
    }
    
    a {
        position: relative;
        color:white;
        display:inline-block;
        padding:0.15em 0.25em;
        font-size: 1.1rem;
        z-index:1;
        transition: color 150ms ease-out;
    
        @media screen and (min-width:$bp-l) {
            padding:0.5em;
            text-shadow: 1px 1px #000;
            font-size:1.2rem;

            &:before, &:after {
                content:'';
                display:block;
                background:$red;
                position: absolute;
                top:0;
                right:0;
                left:0;
                bottom:0;
                border-radius:0.5em;
                opacity:0;
            }
            
            &:before {
                transition:transform 200ms ease-out, opacity 200ms ease-out;
                background:$red;
                z-index:-1;
            }
            
            &:after {
                transition:transform 275ms ease-out, opacity 275ms ease-out;
                background:$orange;
                z-index:-2;
            }
        }

        &:hover, &:focus {
            
            @media screen and (min-width:$bp-l) {
                text-decoration: none;
            }

            &:before, &:after {
                opacity:1;
            }
            
            &:before {
                transform:rotate(-2deg);
            }

            &:after {
                transform:rotate(3deg);
            }
        }

        &:active {
            
            &:before, &:after {
                transform:rotate(0deg);
            }
        }
    }
}

.site-nav__checkbox {
    position: absolute;
    right:8px;
    width: 40px;
    height: 30px;
    display: block;
    opacity: 0;
    z-index:2;
    cursor:pointer;
    -webkit-touch-callout: none;

    &:hover ~ .site-nav__button .nav-btn-0, &:focus ~ .site-nav__button .nav-btn-0 {
        transform:scaleX(0.9);
    }

    @media screen and (max-width:($bp-l - 1)) {

        &:checked ~ .site-nav__list {
            display: block;
            position: absolute;
            top: 60px;
            right: 10px;
            min-width: 190px;
            min-width: max-content;
            padding: 0.5em;
            background:$red;
            text-align: right;
            border-radius: 0.5em 0 0.5em 0.5em;
            animation:show-nav 200ms ease-out forwards;
        }
    }

    @media screen and (min-width:$bp-m) {
        
        &:checked ~ .site-nav__list {
            top: 65px;
        }
    }

    @media screen and (min-width:$bp-l) {
        display:none;
    }
}

.site-nav__button {
    position: absolute;
    right:0;
    border: none;
    background: none;
    
    @media screen and (min-width:$bp-l) {
        display:none;
    }

    .nav-btn-0 {
        transform-origin: right top;
    }
}

@keyframes show-nav {
    0% {
        dipslay:none;
        opacity:0;
        transform:scale(0);
    }
    100% {
        display:block;
        opacity:1;
        transform:scale(1);
    }
}