.page-header__title-container {
    position: absolute;
    top: 200px;
    left: 50%;
    width:90%;
    transform: translateX(-50%);
    
    @media screen and (min-width:$bp-l) {
        position: absolute;
        width:100%;
        max-width: $cw + ($su * 4);
        top:280px;
        padding-left:$su*2;
    }

    body.header-simple &, body.single-actus-podcasts & {
        padding-left:0;
    }

    body.header-simple & {
        position: relative;
        top:0;
    }

    body.single-actus-podcasts & {
        display:flex;
        flex-direction: column;
        align-items:center;
    }

    .page-header--actus & {
        display: flex;
        flex-direction: column;
        align-items:center;
        max-width: 440px;
        top:140px;

        h3 {
            color:white;
        }

        p {
            margin-top:0;
            text-align: center;
            color: white;
            font-weight: bold;
            line-height: 1.25;
            text-shadow: 1px 1px #000;
        }

        time {
            display:inline;
            margin:0;
        }

        @media screen and (min-width:$bp-l) {
            align-items:flex-start;
            max-width: $cw + ($su * 4);
            top:240px;

            > * {
                max-width: 28vw;
            }

            h3 {
                color:$black;
            }

            p {
                text-align: left;
                color: $black;
                font-weight: normal;
                text-shadow: none;
            }

            time {
                text-shadow: none;
            }
        }
    }

    time {
        display:block;
        margin:0 auto;
        @include ff-t;
        font-size: 1.6rem;
        color:$red;
        text-shadow: 1px 1px #000;
    }
    
}
.page-header__title {
    max-width: 9em;
    margin:0 auto;
    text-shadow: 1px 1px #000;
    
    @media screen and (max-width:($bp-l - 1)) {
        text-align: center;
        
        .black {
            color:white;
        }
    }

    @media screen and (min-width:$bp-m) {
        font-size: 2.2rem;
    }
    
    @media screen and (min-width:$bp-l) {
        margin:0;
        text-shadow: none;
    }

    body.header-simple &, body.single-actus-podcasts {
        max-width: none;
        text-shadow: none;

        .black {
            color:$black;
        }
    }

    body.single-actus-podcasts & {
        color:white;
        text-shadow: 1px 1px #000;
    }

    .page-header--actus & {
        color:black;
        font-size:2.2rem;
    }
}

.page-header__img {
    display:block;
    position:absolute;
    right:0;
    top:0;
    z-index:-1;
    width:100%;
    height:564px;
    min-width: 730px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    background-position: 0% 98%, 0px 0px, 50% 50%;
    background-size: cover, auto, cover;
    background-repeat: no-repeat, repeat, repeat;

    body.single-actus-podcasts & {
        background-position: 0, 0, center;
        background-size: cover, cover, cover;
        background-repeat: no-repeat, no-repeat, no-repeat;
        min-width: 100%;
    }
    
    @media screen and (min-width:$bp-m) {
        left: auto;
        right:0;
        transform: none;
        width:65vw;
        min-width: 1040px;

        body.single-actus-podcasts & {
            width:100%;
        }
    }

    @media screen and (min-width:$bp-l) {

        body.single-actus-podcasts & {
            height:614px;
            background-position: bottom, 0, center;
        }
    }
}

@import
    "partials/pages/tes-droits",
    "partials/pages/contact";