// toutes les pages

.page-header__title {
    max-width: 10em;
    margin:0 auto;

    @media screen and (max-width:768px) {
        text-align: center;

        .black {
            color:white;
        }
    }

    @media screen and (min-width:1640px) {
        margin:0;
    }
}

.page-header__img {
    display:block;
    position:absolute;
    right:0;
    top:0;
    z-index:-1;
    width:100%;
    max-width:1240px;
    min-width: 740px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width:768px) {
        left: initial;
        transform:none;
    }
    
    &:after {
        content:'';
        display:block;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        width:100%;
        background-image:url(../assets/img/header-rounded.svg);
        background-repeat:no-repeat;
        background-size: cover;
    }
}



// problemes à l'école

.probleme {
    scroll-margin-top: $su*2;

    summary {
        display:block;

        &:hover, &:focus {
            cursor: pointer;
            
            h3 {
                color:$brown;
            }
        }

        h3 {
            transition:color 150ms ease-out;
        }
    }

    details[open] {

        h3 {
            color:$brown;
        }
    }
}