// toutes les pages

.page-header__title-container {
    position: absolute;
    top: 200px;
    left: 50%;
    width:90%;
    transform: translateX(-50%);
    
    @media screen and (min-width:$bp-l) {
        position: absolute;
        width:100%;
        max-width: $cw + ($su * 4);
        top:280px;
        padding-left:$su*2;
    }

    body.header-simple & {
        position: relative;
        top:0;
    }
}
.page-header__title {
    max-width: 9em;
    margin:0 auto;
    text-shadow: 1px 1px #000;
    
    @media screen and (max-width:($bp-l - 1)) {
        text-align: center;
        
        .black {
            color:white;
        }
    }

    @media screen and (min-width:$bp-m) {
        font-size: 2.2rem;
    }
    
    @media screen and (min-width:$bp-l) {
        margin:0;
        text-shadow: none;
    }

    body.header-simple & {
        max-width: none;
        text-shadow: none;

        .black {
            color:$black;
        }
    }
}

.page-header__img {
    display:block;
    position:absolute;
    right:0;
    top:0;
    z-index:-1;
    width:100%;
    height:564px;
    min-width: 730px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    background-position: 0% 98%, 0px 0px, 50% 50%;
    background-size: cover, auto, cover;
    background-repeat: no-repeat, repeat, repeat;
    
    @media screen and (min-width:$bp-m) {
        height:768px;
        left: auto;
        right:0;
        transform: none;
        width:65vw;
        min-width: 940px;
    }
    
    @media screen and (min-width:$bp-l) {
    }
}

@import "partials/pages/tes-droits";