.single-actus-podcasts, .single {

    .page-header__title-container {
        max-width:740px;
    }
    
    .main-content {
        max-width: 740px;
        margin: 0 auto;

        h2, h3, h4 {
            color:$black;
            text-align: center;
            margin:1em 0 0.5em 0;
        }

        img {
            width:100%;
            height: auto;
        }

        a.btn {
            color:white;
            font-weight: normal;
            text-decoration: none;
            margin:$su auto;
        }
    }

    a.back-to-news {
        color:$black;
        font-weight: normal;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}