.single-actus-podcasts {
    
    .main-content {
        max-width: 740px;
        margin: 0 auto;

        h2, h3, h4 {
            color:$black;
            text-align: center;
            margin:1em 0 0.5em 0;
        }

        img {
            width:100%;
            height: auto;
        }
    }
}