{{ define "main" }}

    {{ partial "page-header-fonctionnement.html" . }}

    <div class="main-content" id="content" style="padding-top: 60px">
        <div class="flex-2-cols">
            <div class="flex-2-cols__col">
                <h2>{{ .Params.title | markdownify }}</h2>
                <p>{{ .Params.description | markdownify }}</p>
                <ul class="fonctionnement-list">
                    {{ range .Pages }}
                        <li><a href="{{.Permalink}}#content">{{ .Params.title | markdownify }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="flex-2-cols__col flex-2-cols__col--center">
				{{ partial "organigramme.html" }}
            </div>
        </div>
    </div>

{{ end }}
