{{ define "main" }}

    {{ partial "page-header-fonctionnement.html" . }}

    <div class="main-content" id="content" style="padding-top: 60px">
        <div class="flex-2-cols">
            <div class="flex-2-cols__col">
                <h2>{{ .Params.title | markdownify }}</h2>
                <p>{{ .Params.description | markdownify }}</p>
                <ul class="fonctionnement-list">
                    {{ range .Pages }}
                        <li><a href="{{.Permalink}}#content">{{ .Params.title | markdownify }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="flex-2-cols__col flex-2-cols__col--center">
				{{ partial "organigramme.html" }}
            </div>
            <div class="problemes-list__content">
                <h2>FAQ</h2>
                <ul class="list--no-style probleme">
                    {{ range $index, $value := .Params.questions }}
                        <li class="{{ if (eq $index 0) }} first{{ end }}">
                            <details>
                                <summary><h3>{{ .question }}</h3></summary>
                                <div class="probleme__content">
                                    {{ .reponse | markdownify }}
                                </div>
                            </details>
                        </li>
                    {{ end }}
                </ul>
                <div id="no-answer" style="margin-top:80px">
                    <p><strong>Tu ne trouves pas de réponse à ta question et tu as besoin d'aide&nbsp;?</strong></p>
                    <p><a href="/contact" class="btn btn--link btn--rounded">Contacte-nous</a></p>
                </div>
            </div>
        </div>
    </div>

{{ end }}
