{{ define "main" }}

    {{ partial "page-header-fonctionnement.html" . }}

    <div class="main-content">
        <section class="home-what cw flex-2-cols">
            <div class="flex-2-cols__col">
                <h2>{{ .Params.title | markdownify }}</h2>
                <p>{{ .Params.description | markdownify }}</p>
            </div>
            <div class="flex-2-cols__col flex-2-cols__col--center">
                <img src="/assets/img/orgaCEF2.svg" alt="Organigramme du CEF" style="width:100%">
            </div>
        </section>

        <section class="home-curious cw flex-2-cols">
            <div class="flex-2-cols__col">
                <h2>{{ .Params.curious_title | markdownify }}</h2>
                <p>{{ .Params.curious_text | markdownify }}</p>
            </div>
            <div class="flex-2-cols__col">
                {{ partial "img-2-cols.html" (dict "src" .Params.curious_img "alt" .Params.curious_img_alt "mask" "true" "ctx" $)  }}
            </div>
			    <a class="back-to-news" href="/fonctionnement">Retour vers fonctionnement</a>

        </section>
    </div>

{{ end }}