{{ define "main" }}

{{ partial "page-header-fonctionnement.html" . }}

<div class="main-content" id="content">
    <section class="flex-2-cols">
        <div class="flex-2-cols__col">
            <a href="/fonctionnement#content" style="text-decoration: none; margin-bottom: 2em">Fonctionnement</a> >
            {{.Params.title}} <br>
            <h2>{{ .Params.title | markdownify }}</h2>
            {{ .Content }}
        </div>
        <div class="flex-2-cols__col flex-2-cols__col--center">
            {{ partial "organigramme.html"}}
        </div>
    </section>
    {{ range .Params.block }}
        <section class="flex-2-cols">
            <div class="flex-2-cols__col">
                {{ partial "img-2-cols.html" (dict "src" .image "alt" .Params.curious_img_alt "mask" "true" "ctx" $)  }}
            </div>
            <div class="flex-2-cols__col">
                <h2>{{ .title | markdownify }}</h2>
                <p>{{ .description | markdownify }}</p>
            </div>
        </section>
     {{ end }}
     {{ with .Params.questions }}
     <section class="problemes-list__content cw">
        <h2>FAQ</h2>
        <ul class="list--no-style probleme">
            {{ range $index, $value := . }}
                <li class="{{ if (eq $index 0) }} first{{ end }}">
                    <details>
                        <summary><h3>{{ .question }}</h3></summary>
                        <div class="probleme__content">
                            {{ .reponse | markdownify }}
                        </div>
                    </details>
                </li>
            {{ end }}
        </ul>
        <div id="no-answer" style="margin-top:80px">
            <p><strong>Tu ne trouves pas de réponse à ta question et tu as besoin d'aide&nbsp;?</strong></p>
            <p><a href="/contact" class="btn btn--link btn--rounded">Contacte-nous</a></p>
        </div>
     </section>
     {{ end }}
    <a class="back-to-news" href="/fonctionnement#content">Retour vers fonctionnement</a>
</div>

{{ end }}