{{ define "main" }}

{{ partial "page-header.html" . }}

<div class="main-content flex-2-cols">
    <div class="flex-2-cols__col contact__form">
        <h2>{{ .Params.title_col_left | markdownify }}</h2>
        {{ .Params.content_col_left | markdownify }}
        <noscript>
            <p class="red">Merci d'activer javascript pour utiliser ce formulaire.</p>
        </noscript>
        <form method="post" action="https://www.studiocolibri.be/cef/handle_form_new.php">
            <label class="guejfeozp"><input name="form__firstname" type="text" id="form__firstname" class="guejfeozp"></label>
            <label for="form__name">{{ .Params.form.name_txt }}</label>
            <input type="text" id="form__name" name="form__name" required>
            <label for="form__email">{{ .Params.form.email_txt }}</label>
            <input type="email" id="form__email" name="form__email" required>
            <label for="form__subjects">{{ .Params.form.subjects.txt }}</label>
            <select id="form__subjects" name="form__subjects" required>
                <option value="0"></option>
                {{ range $index, $val := .Params.form.subjects.items }}
                    <option value="{{ add 1 $index }}">{{ $val }}</option>
                {{ end }}
            </select>
            <div id="juridique-container" class="form__subcontent">
                <h3>{{ .Params.form.juridique.text }}</h3>
                {{ range .Params.form.juridique.items }}
                    <label>
                        <span>{{ . }}</span>
                        <input type="text" id="juridique-{{ urlize . }}" name="juridique-{{ urlize . }}">
                    </label>
                {{ end }}
            </div>
            <div id="animation-container" class="form__subcontent">
                {{ range .Params.form.animation.items }}
                    <label>
                        <span>
                            {{ . }}
                            {{ if eq . "Thématique" }}
                                 <small>(harcèlement, participation, communication non-violente, droit scolaire, As du PEE, autre)</small>
                            {{ end }}
                        </span>
                        <input type="text" id="animation-{{ urlize . }}" name="animation-{{ urlize . }}">
                    </label>
                {{ end }}
            </div>
            <div id="locales-regionales-container" class="form__subcontent">
                {{ range .Params.form.locales_regionales.items }}
                    <label>
                        <span>{{ . }}</span>
                        <input type="text" id="locales-regionales-{{ urlize . }}" name="locales-regionales-{{ urlize . }}">
                    </label>
                {{ end }}
            </div>
            <div id="stages-container" class="form__subcontent">
                {{ range .Params.form.stages.items }}
                    <label>
                        <span>{{ . }}</span>
                        <input type="text" id="stages-{{ urlize . }}" name="stages-{{ urlize . }}">
                    </label>
                {{ end }}
            </div>
            <label for="form__msg">{{ .Params.form.msg_txt }}</label>
            <textarea id="form__msg" name="form__msg" required></textarea>
            <div class="g-recaptcha" data-sitekey="6LfXBksaAAAAAMFd1E-dNUv_yc0xkyG5thfUsTt3"></div>
            <input type="submit" class="btn btn--link btn--rounded" id="form__submit" name="form__submit" value="{{ .Params.form.submit_txt }}">
        </form>
    </div>
    <div class="flex-2-cols__col contact__infos">
        <h2>{{ .Params.title_col_right | markdownify }}</h2>
        <p>Téléphone : <a class="link--underline" href="tel:{{ .Site.Data.infos.tel_for_robots }}">{{ .Site.Data.infos.tel_for_humans }}</a></p>
        <p>E-mail : <a class="link--underline" href="mailto:{{ .Site.Data.infos.email }}">{{ .Site.Data.infos.email }}</a></p>
        <p><address>{{ .Site.Data.infos.address }}</address></p>
        {{ partial "social-items.html" (dict "class" "social-items--color-red" "ctx" $ ) }}
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2519.0906463696524!2d4.354835215957216!3d50.84800566651972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c38074c9d8a3%3A0xb0b13a2de52b1f11!2sArenbergstraat%2044%2C%201000%20Brussel!5e0!3m2!1snl!2sbe!4v1664978274035!5m2!1snl!2sbe"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{{ end }}