{{ define "main" }}

{{ partial "page-header.html" . }}

<div class="main-content flex-2-cols">
    <div class="flex-2-cols__col contact__form">
        <h2>{{ .Params.title_col_left | safeHTML }}</h2>
        <noscript>
            <p class="red">Merci d'activer javascript pour utiliser ce formulaire.</p>
        </noscript>
        <form method="post" action="https://www.studiocolibri.be/cef/handle_form.php">
            <label class="hide"><input name="trap" type="text" id="trap" class="hide"></label>
            <label for="form__name">{{ .Params.form.name_txt }}</label>
            <input type="text" id="form__name" required>
            <label for="form__email">{{ .Params.form.email_txt }}</label>
            <input type="email" id="form__email" required>
            <label for="form__subjects">{{ .Params.form.subjects.txt }}</label>
            <select id="form__subjects" required>
                <option></option>
                {{ range $index, $val := .Params.form.subjects.items }}
                    <option value="{{ $index }}">{{ $val }}</option>
                {{ end }}
            </select>
            <div id="juridique-container" class="form__subcontent">
                <h3>{{ .Params.form.juridique.text }}</h3>
                {{ range .Params.form.juridique.items }}
                    <label>
                        <span>{{ . | markdownify }}</span>
                        <input type="text" id="{{ urlize . }}" name="{{ urlize . }}" required>
                    </label>
                {{ end }}
            </div>
            <div id="animation-container" class="form__subcontent">
                {{ range .Params.form.animation.items }}
                    <label>
                        <span>{{ . | markdownify }}</span>
                        <input type="text" id="{{ urlize . }}" name="{{ urlize . }}" required>
                    </label>
                {{ end }}
            </div>
            <div id="locales-regionales-container" class="form__subcontent">
                {{ range .Params.form.locales_regionales.items }}
                    <label>
                        <span>{{ . | markdownify }}</span>
                        <input type="text" id="{{ urlize . }}" name="{{ urlize . }}" required>
                    </label>
                {{ end }}
            </div>
            <div id="stages-container" class="form__subcontent">
                {{ range .Params.form.stages.items }}
                    <label>
                        <span>{{ . | markdownify }}</span>
                        <input type="text" id="{{ urlize . }}" name="{{ urlize . }}" required>
                    </label>
                {{ end }}
            </div>
            <label for="form__msg">{{ .Params.form.msg_txt }}</label>
            <textarea id="form__msg" required></textarea>
            <input type="submit" class="btn btn--link btn--rounded" id="form__submit" name="form__submit" value="{{ .Params.form.submit_txt }}">
        </form>
    </div>
    <div class="flex-2-cols__col contact__infos">
        <h2>{{ .Params.title_col_right | safeHTML }}</h2>
        <p>Téléphone : <a class="link--underline" href="tel:{{ .Site.Data.infos.tel_for_robots }}">{{ .Site.Data.infos.tel_for_humans }}</a></p>
        <p>E-mail : <a class="link--underline" href="mailto:{{ .Site.Data.infos.email }}">{{ .Site.Data.infos.email }}</a></p>
        <p><address>{{ .Site.Data.infos.address }}</address></p>
        {{ partial "social-items.html" (dict "class" "social-items--color-red" ) }}
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10075.022594547801!2d4.3358051!3d50.854209!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd25dbd2366c1b665!2sCEF%20-%20Comit%C3%A9%20des%20El%C3%A8ves%20Francophones!5e0!3m2!1sfr!2sbe!4v1585136191153!5m2!1sfr!2sbe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>

{{ end }}