{{ define "main" }}

{{ partial "page-header.html" . }}

<div class="main-content">
    
    <div class="problemes-list" aria-label="">
        <div id="sticky-nav-marker" aria-hidden="true"></div>
        <aside class="problemes-list__nav" id="sticky-nav">
            <nav>
                <ul>
                    {{ range .Params.problemes }}
                        <li>
                            <a href="#{{ .id }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </aside>
        <div>
            <div class="search-wrapper">
                <label for="search-input" class="hide">Tape un mot-clé. Ex: Absence, Certificat…</label>
                <input type="text" id="search-input" placeholder="Tape un mot-clé. Ex: Absence, Certificat…" />
                <button class="btn btn--link btn--rounded btn--reverse" id="clear-search" title="Effacer le filtre" style="display:none;">X</button>
            </div>
            <div id="results-wrapper">
                <div class="problemes-list__content" id="results">
                    {{ range $index, $value := .Params.problemes }}
                    <div class="probleme {{ if (eq $index 0) }}first{{ end }}" id="{{ .id }}">
                        <h2>{{ .title }}</h2>
                        <ul class="list--no-style">
                            {{ range .questions }}
                                <li>
                                    <details>
                                        <summary><h3>{{ .question }}</h3></summary>
                                        <div class="probleme__content">
                                            {{ .reponse | markdownify }}
                                        </div>
                                    </details>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                    <div id="no-answer" style="margin-top:80px">
                        <p><strong>Tu ne trouves pas de réponse à ta question et tu as besoin d'aide&nbsp;?</strong></p>
                        <p><a href="/contact" class="btn btn--link btn--rounded">Contacte-nous</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}

