{{ define "main" }}

{{ partial "page-header.html" . }}

<div class="main-content">
    {{ .Content }}

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup" class="newsletter-form">
        <form action="https://lecef.us17.list-manage.com/subscribe/post" method="POST">
            <input type="hidden" name="u" value="0a4672af59b09e2d383a75342">
            <input type="hidden" name="id" value="5e0f4faec0">
            <!-- people should not fill these in and expect good things -->
            <div class="field-shift hide" aria-label="Please leave the following three fields empty">
                <label for="b_name">Name: </label>
                <input type="text" name="b_name" tabindex="-1" value="" placeholder="Freddie" id="b_name"
                    style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">

                <label for="b_email">Email: </label>
                <input type="email" name="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com"
                    id="b_email">

                <label for="b_comment">Comment: </label>
                <textarea name="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
            </div>
            <div class="newsletter-form__content">
                <label for="MERGE1">Ton prénom <span class="req asterisk">*</span></label>
                <input type="text" name="MERGE1" id="MERGE1" autocomplete="given-name" value="">
                
                <label for="MERGE2">Ton nom <span class="req asterisk">*</span></label>
                <input type="text" name="MERGE2" id="MERGE2" autocomplete="family-name" value="">
                
                <label for="MERGE4">Ton école <span class="req asterisk">*</span></label>
                <input type="text" name="MERGE4" id="MERGE4" value="">
                
                <label for="MERGE5">Ton année <span class="req asterisk">*</span></label>        
                <input type="text" name="MERGE5" id="MERGE5" value="">
                
                <label for="MERGE0">Ton adresse e-mail <span class="req asterisk">*</span></label>        
                <input type="email" autocapitalize="off" autocorrect="off" autocomplete="email" name="MERGE0" id="MERGE0" value="">
                
                <input type="submit" class="btn btn--rounded btn--link" name="submit" value="S'abonner">
                
                <input type="hidden" name="ht" value="3831d556f93cd45bceec8071125cf3fc1b598eb6:MTU4ODA3MTkyNS4zMzA2">
                <input type="hidden" name="mc_signupsource" value="hosted">
        </form>
    </div>

    <!--End mc_embed_signup-->
</div>


{{ end }}